[Desktop Entry]
Name=mysql restart
Encoding=UTF-8
Exec=menuexec "service mysql restart"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-03-mysqld;
X-Foxxy-Package=mysql-server
