[Desktop Entry]
Name=macchanger
Encoding=UTF-8
Exec=menuexec "macchanger -h"
Icon=foxxy-macchanger.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Foxxy-Package=macchanger
