[Desktop Entry]
Name=freeradius-wpe
Encoding=UTF-8
Exec=menuexec "freeradius -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;
X-Foxxy-Package=freeradius-wpe
