[Desktop Entry]
Name=webscarab
Encoding=UTF-8
Exec=menuexecg "webscarab"
Icon=foxxy-webscarab.png
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;
X-Foxxy-Package=webscarab
