[Desktop Entry]
Name=mifare-classic-format
Encoding=UTF-8
Exec=menuexec "mifare-classic-format -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
X-Foxxy-package=libfreefare-bin
