[Desktop Entry]
Name=ragg2-cc
Encoding=UTF-8
Exec=menuexec ragg2-cc 
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-reverseengineer;
X-Foxxy-Package=radare2
