[Desktop Entry]
Name=jd-gui
Encoding=UTF-8
Exec=menuexecg "jd-gui"
Icon=foxxy-jd-gui.png
StartupNotify=false
Terminal=false
Type=Application
Categories=07-reverseengineer;
X-Foxxy-Package=jd-gui
