[Desktop Entry]
Name=ferret
Encoding=UTF-8
Exec=menuexec "ferret"
Icon=foxxy-ferret.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Foxxy-Package=ferret-sidejack
