[Desktop Entry]
Name=hashid
Encoding=UTF-8
Exec=menuexec "hashid -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Foxxy-Package=hashid
