[Desktop Entry]
Name=fsstat
Encoding=UTF-8
Exec=menuexec "fsstat"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
X-Foxxy-Package=sleuthkit
