[Desktop Entry]
Name=bluemaho
Encoding=UTF-8
Exec=menuexec bluemaho.py
Icon=foxxy-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=06-02-bluetooth-tools;
X-Foxxy-Package=bluemaho
