[Desktop Entry]
Name=eyewitness
Encoding=UTF-8
Exec=menuexec "eyewitness -h"
Icon=foxxy-eyewitness.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-reporting;
X-Foxxy-Package=eyewitness
