[Desktop Entry]
Name=pwdump
Encoding=UTF-8
Exec=menuexec "pwdump -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Foxxy-Package=creddump
