[Desktop Entry]
Name=calculate jcop mifare keys
Encoding=UTF-8
Exec=menuexec mifarekeys.py  
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
X-Foxxy-Package=python-rfidiot
