[Desktop Entry]
Name=sslsniff
Encoding=UTF-8
Exec=menuexec "sslsniff"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-01-network-sniffers;
X-Foxxy-Package=sslsniff
