[Desktop Entry]
Name=phrasendrescher
Encoding=UTF-8
Exec=menuexec "pd -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-01-online-attacks;
X-Foxxy-Package=phrasendrescher


