[Desktop Entry]
Name=darkstat
Encoding=UTF-8
Exec=menuexec "darkstat"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-01-network-sniffers;
X-Foxxy-Package=darkstat
