[Desktop Entry]
Name=tnscmd10g
Encoding=UTF-8
Exec=menuexec "tnscmd10g"
Icon=foxxy-tnscmd10g.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-database-assessment;
X-Foxxy-Package=tnscmd10g
