[Desktop Entry]
Name=t50
Encoding=UTF-8
Exec=menuexec "t50 --help"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-07-stress-testing;
X-Foxxy-Package=t50
