[Desktop Entry]
Name=fimap
Encoding=UTF-8
Exec=menuexec "fimap -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-05-web-vulnerability-scanners;
X-Foxxy-Package=fimap
