[Desktop Entry]
Name=mdk3
Encoding=UTF-8
Exec=menuexec "mdk3 --help"
Icon=foxxy-mdk3.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-wireless-attacks;
X-Foxxy-Package=mdk3
