[Desktop Entry]
Name=hydra
Encoding=UTF-8
Exec=menuexec "hydra -h"
Icon=foxxy-hydra.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-01-online-attacks;
X-Foxxy-Package=hydra


