[Desktop Entry]
Name=magictree
Encoding=UTF-8
Exec=menuexecg "magictree"
Icon=foxxy-magictree.png
StartupNotify=false
Terminal=false
Type=Application
Categories=12-reporting;
X-Foxxy-Package=magictree
