[Desktop Entry]
Name=dradis stop
Encoding=UTF-8
Exec=menuexec "service dradis stop"
Icon=foxxy-dradis.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-10-dradis-service
X-Foxxy-Package=dradis
