[Desktop Entry]
Name=dns2tcpd
Encoding=UTF-8
Exec=menuexec "dns2tcpd"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-tunneling;
X-Foxxy-Package=dns2tcp
