[Desktop Entry]
Name=dff
Encoding=UTF-8
Exec=menuexec "dff"
Icon=foxxy-dff.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-Foxxy-Package=dff
