[Desktop Entry]
Name=volatility
Encoding=UTF-8
Exec=menuexec "volatility -h"
Icon=foxxy-volatility.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-Foxxy-Package=volatility
