[Desktop Entry]
Name=pdfid
Encoding=UTF-8
Exec=menuexec "pdfid -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-11-pdf-forensics-tools;
X-Foxxy-Package=pdfid
