[Desktop Entry]
Name=cansend
Encoding=UTF-8
Exec=menuexec cansend
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils
X-Foxxy-Package=can-utils
