[Desktop Entry]
Name=sfuzz
Encoding=UTF-8
Exec=menuexec "sfuzz -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-02-fuzzers;
X-Foxxy-Package=sfuzz
