[Desktop Entry]
Name=dnsspoof
Encoding=UTF-8
Exec=menuexec dnsspoof -h 
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-network-spoofing
X-Foxxy-Package=dsniff
