[Desktop Entry]
Name=multiforcer
Encoding=UTF-8
Exec=menuexec "multiforcer --help"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Foxxy-Package=multiforcer
