[Desktop Entry]
Name=guymager
Encoding=UTF-8
Exec=menuexecg "guymager"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=11-07-forensic-imaging-tools;
X-Foxxy-Package=guymager
