[Desktop Entry]
Name=fern wifi cracker
Encoding=UTF-8
Exec=menuexecg "fern-wifi-cracker"
Icon=foxxy-fern-wifi-cracker.png
StartupNotify=false
Terminal=false
Type=Application
Categories=06-wireless-attacks
X-Foxxy-Package=fern-wifi-cracker
