[Desktop Entry]
Name=sipcrack
Encoding=UTF-8
Exec=menuexec "sipcrack -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Foxxy-Package=sipcrack
