[Desktop Entry]
Name=sidguesser
Encoding=UTF-8
Exec=menuexec "sidguess"
Icon=foxxy-sidguesser.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-database-assessment;
X-Foxxy-Package=sidguesser
