[Desktop Entry]
Name=joomscan
Encoding=UTF-8
Exec=menuexec "joomscan"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-01-cms-identification;03-05-web-vulnerability-scanners;
X-Foxxy-Package=joomscan
