[Desktop Entry]
Name=postgresql start
Encoding=UTF-8
Exec=menuexec "service postgresql start"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-05-postgresql;
X-Foxxy-Package=postgresql
