[Desktop Entry]
Name=bully
Encoding=UTF-8
Exec=menuexec "bully"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;
X-Foxxy-Package=bully
