[Desktop Entry]
Name=fcrackzip
Encoding=UTF-8
Exec=menuexec "fcrackzip --help"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Foxxy-Package=fcrackzip
