[Desktop Entry]
Name=spike-generic_listen_tcp
Encoding=UTF-8
Exec=menuexec "generic_listen_tcp"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-02-fuzzers;
X-Foxxy-Package=spike
