[Desktop Entry]
Name=sucrack
Encoding=UTF-8
Exec=menuexec "man sucrack"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Foxxy-Package=sucrack
