[Desktop Entry]
Name=lsadump
Encoding=UTF-8
Exec=menuexec "lsadump -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Foxxy-Package=creddump

