[Desktop Entry]
Name=mdb-export
Encoding=UTF-8
Exec=menuexec mdb-export 
Icon=foxxy-mdb-sql.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-database-assessment;
X-Foxxy-Package=mdbtools
