[Desktop Entry]
Name=oscanner
Encoding=UTF-8
Exec=menuexec "oscanner"
Icon=foxxy-oscanner.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-database-assessment;
X-Foxxy-Package=oscanner
