[Desktop Entry]
Name=john
Encoding=UTF-8
Exec=menuexec "john"
Icon=foxxy-john.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-password-attacks;
X-Foxxy-Package=john
