[Desktop Entry]
Name=wifiarp
Encoding=UTF-8
Exec=menuexec "wifiarp -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;
X-Foxxy-Package=wifitap
