[Desktop Entry]
Name=magicrescue
Encoding=UTF-8
Exec=menuexec "magicrescue"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;
X-Foxxy-Package=magicrescue
