[Desktop Entry]
Name=nfc-list
Encoding=UTF-8
Exec=menuexec "nfc-list -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
X-Foxxy-Package=libnfc-bin
