[Desktop Entry]
Name=mysql/mariadb stop
Encoding=UTF-8
Exec=menuexec "service mysql stop"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-03-mysqld;
X-Foxxy-Package=mariadb-server
