[Desktop Entry]
Name=u3-pwn
Encoding=UTF-8
Exec=menuexec "u3-pwn"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-01-os-backdoors;
X-Foxxy-Package=u3-pwn
