[Desktop Entry]
Name=gnuradio-companion
Encoding=UTF-8
Exec=menuexecg "gnuradio-companion"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=06-05-radio-tools;
X-Foxxy-Package=gnuradio
