[Desktop Entry]
Name=dnschef
Encoding=UTF-8
Exec=menuexec "dnschef -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-network-spoofing;
X-Foxxy-Package=dnschef
