[Desktop Entry]
Name=ewfacquire
Encoding=UTF-8
Exec=menuexec "ewfacquire -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-07-forensic-imaging-tools;
X-Foxxy-Package=ewf-tools
