[Desktop Entry]
Name=read tag
Encoding=UTF-8
Exec=menuexec readtag.py -R RFIDIOt.rfidiot.READER_PCSC 
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
X-Foxxy-Package=python-rfidiot
