[Desktop Entry]
Name=mfoc
Encoding=UTF-8
Exec=menuexec "mfoc -h"
Icon=foxxy-mfoc.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
X-Foxxy-Package=mfoc
