[Desktop Entry]
Name=rtl_test
Encoding=UTF-8
Exec=menuexec "rtl_test -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-05-radio-tools;
X-Foxxy-Package=librtlsdr-bin
