[Desktop Entry]
Name=ncrack
Encoding=UTF-8
Exec=menuexec "ncrack -h"
Icon=foxxy-ncrack.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-password-attacks;
X-Foxxy-Package=ncrack


