[Desktop Entry]
Name=cowpatty
Encoding=UTF-8
Exec=menuexec "cowpatty"
Icon=foxxy-cowpatty.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools
X-Foxxy-Package=cowpatty
