[Desktop Entry]
Name=cmospwd
Encoding=UTF-8
Exec=menuexec "cmospwd"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Foxxy-Package=cmospwd
