[Desktop Entry]
Name=pth-rpcclient
Encoding=UTF-8
Exec=menuexec "pth-rpcclient -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-04-pass-hash;
X-Foxxy-Package=passing-the-hash


