[Desktop Entry]
Name=exe2hex
Encoding=UTF-8
Exec=menuexec "exe2hex"
Icon=foxxy-exe2hex.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-tunneling;
X-Foxxy-Package=exe2hexbat
