[Desktop Entry]
Name=postgresql stop
Encoding=UTF-8
Exec=menuexec "service postgresql stop"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-05-postgresql;
X-Foxxy-Package=postgresql
