[Desktop Entry]
Name=gqrx
Encoding=UTF-8
Exec=menuexecg "gqrx"
Icon=foxxy-gqrx.png
StartupNotify=false
Terminal=false
Type=Application
Categories=06-05-radio-tools;06-wireless-attacks;
X-Foxxy-Package=gqrx
