[Desktop Entry]
Name=hamster
Encoding=UTF-8
Exec=menuexec "hamster"
Icon=foxxy-hamster.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Foxxy-Package=hamster-sidejack
