[Desktop Entry]
Name=lbd
Encoding=UTF-8
Exec=menuexec "lbd"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-03-ids-ips-identification;
X-Foxxy-Package=lbd
