[Desktop Entry]
Name=dnmap-client
Encoding=UTF-8
Exec=menuexec "dnmap_client"
Icon=foxxy-dnmap.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
X-Foxxy-Package=dnmap
