[Desktop Entry]
Name=jigsaw
Encoding=UTF-8
Exec=menuexec jigsaw -h 
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-07-osint-analysis;
X-Foxxy-Package=jigsaw
