[Desktop Entry]
Name=bed
Encoding=UTF-8
Exec=menuexec bed
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-02-fuzzers;
X-Foxxy-Package=bed
