[Desktop Entry]
Name=urlsnarf
Encoding=UTF-8
Exec=menuexec urlsnarf -h 
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-01-network-sniffers
X-Foxxy-Package=dsniff
