[Desktop Entry]
Name=tcpflow
Encoding=UTF-8
Exec=menuexec "tcpflow -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-01-network-sniffers;
X-Foxxy-Package=tcpflow
