[Desktop Entry]
Name=acccheck
Encoding=UTF-8
Exec=menuexec acccheck
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-10-smb-analysis;05-01-online-attacks;
X-Foxxy-Package=acccheck
