[Desktop Entry]
Name=0trace
Encoding=UTF-8
Exec=menuexec 0trace.sh
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-08-route-analysis;
X-Foxxy-Package=0trace
