[Desktop Entry]
Name=wordlists
Encoding=UTF-8
Exec=menuexec wordlists
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-05-profile;
X-Foxxy-Package=wordlists
