[Desktop Entry]
Name=maskgen
Encoding=UTF-8
Exec=menuexec "maskgen -h"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Foxxy-Package=pack
