[Desktop Entry]
Name=dc3dd
Encoding=UTF-8
Exec=menuexec "dc3dd --help"
Icon=foxxy-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-07-forensic-imaging-tools;
X-Foxxy-Package=dc3dd
